/* Шрифт*/
/* Обычный */
@font-face {
	font-family: 'TTLakes';
	font-style: normal;
	font-weight: 400;
	src: local('TTLakes'),
		url('./Font/TTLakes/TTLakes-Regular.woff') format('woff');
}
 
/* Жирный */
@font-face {
	font-family: 'TTLakes';
	font-style: normal;
	font-weight: 700;
	src: local('TTLakes'),
		url('./Font/TTLakes/TTLakes-Bold.woff') format('woff');
}

/* Полужирный */
@font-face {
	font-family: 'TTLakes DemiBold';
	font-style: normal;
	font-weight: 600;
	src: local('TTLakes'),
		url('./Font/TTLakes/TTLakes-DemiBold.woff') format('woff');
}
 
/* Ширина экрана до 768 пикселей*/
  .upperMenu {
    height: 14.74vh;
    display: flex;
    justify-content: center;
  }

  .upperMenu__item {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    background: rgba(255, 255, 255, 1);
  }

  .upperMenu__item_left, .upperMenu__item_right {
    display: flex;
  }

  .btn {
    border: 0px;
    background-color: white;
  }

  .upperMenu__item_desktop {
    display: none;
  }

  .upperMenu__item_divider1, .upperMenu__item_call, .upperMenu__item_chat, 
  .upperMenu__item_profile, .content__text_second, .content__text_third {
    display: none;
  }

  .main {
    height: 85.26vh;
    background: rgba(248, 248, 248, 1);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .title {
    display: flex;
    gap: 12px;
  }

  .title__paragraph {
    font-family: 'TTLakes';
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.6px;
  }

  .slideMenu {
    overflow-y: hidden;
  }

  .slideMenu__item {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    white-space: nowrap;
  }

  .slideMenu__item_repairBrands {
    display: none;
  }
  
  .slideMenu__item,
  .content__text {
    padding-inline: 1rem;
  }

  .nav {
    display: flex;
    font-family: 'TTLakes';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    height: 40px;
    letter-spacing: -0.2px;
    color: rgba(126, 126, 130, 1);
    text-decoration: none;
    align-items: center;
    padding: 0px 13px;
  }

  .nav:hover {
    border: 2px solid rgba(184, 255, 236, 1);
    background-color: white;
    border-radius: 6px;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .content__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .txt {
    font-family: 'TTLakes';
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
  }

  .content__readMore {
    display: flex;
    padding-block: 1rem;
  }

  .content__readMore_picture {
    border: 0px;
    padding: 0;
    background: transparent;
  }

  .content__readMore_text {
    padding-left: 8px;
    font-family: 'TTLakes DemiBold';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: rgba(27, 28, 33, 1);
    text-decoration: none;
    align-items: center;
  }

  .content__picture {
    width: 320px;
    height: 176px;
    border-radius: 2px;
  }

/* Ширина экрана от 768 пикселей*/
@media screen and (min-width: 768px) {
  .upperMenu {
    height: 17.46vh;
  }

  .upperMenu__item {
    justify-content: space-between;
    padding: 0px 16px;
  }

  .main {
    height: 82.54vh;
  }

  .title {
    gap: 20px;
  }

  .upperMenu__item_divider1, 
  .upperMenu__item_call, 
  .upperMenu__item_chat, 
  .upperMenu__item_profile, 
  .content__text_second {
    display: block;
  }
    
  .slideMenu {
    padding-inline: 24px;
  }

  .slideMenu__item,
  .content__text {
    padding-inline: 0;
  }

  .txt {
    line-height: 20px;
  }

  .content {
    flex-direction: row;
    padding-inline: 24px;
  }

  .content__text {
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 43.34%;
  }

  .content__text_first, .content__readMore {
    padding: 0;
  }

  .content__text_second {
    padding-block: 1rem 0.5rem;
  }

  .content__picture {
    width: 360px;
    height: 208px;
    border-radius: 6px;
  }
}

/* Ширина экрана от 1120 пикселей*/
@media screen and (min-width: 1120px) {
  .upperMenu,
  .slideMenu__item_additionalServices {
    display: none;
  }

  .upperMenu__item_right {
    float: right;
  }

  .upperMenu__item_repair::before{
    content: "Оставить заявку";
  }

  .upperMenu__item_checkstatus::before {
    content: "Статус ремонта";
  }  

  .dsk {
    display: flex;
    align-items: center;
    background: rgba(248, 248, 248, 1);
    padding: 0px 8px;
  }

  .dsk::before {
    font-family: 'TTLakes DemiBold';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    background: rgba(248, 248, 248, 1);
    padding-right: 9px;
  }

  .main {
    height: 100vh;
  }

  .header {
    display: flex;
    justify-content: space-between;
  }

  .title {
    gap: 29px;
  }

  .slideMenu,
  .content {
    padding-inline: 33px;
  }

  .slideMenu__item {
    flex-wrap: wrap;
  }

  .slideMenu__item_repairBrands, 
  .upperMenu__item_desktop {
    display: flex;
  }

  .slideMenu__item_addresses {
    order: 1;
  }

  .slideMenu__item_specialPrices {
    order: 2;
  }

  .slideMenu__item_reviews {
    order: 3;
  }

  .content__text_third {
    display: contents;
  }

  .content__picture {
    width: 531.35px;
    height: 307px;
    border-radius: 6px;
  }
}